.Card
{ 
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  color:  #E8E8E8;
  max-width: 420px;
  height: 250px;
  border: 1px solid #d9e5f2;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  background: url('/static/media/bg.jpg') no-repeat;
  background-size: 100%;
}

.header
{
  text-align:center;
}
.container
{
margin-bottom:100px;
}
.user_redirect
{
  width: 40px;
  height: 50px;
  position: absolute;
  top: 7px;
  right: 10px;
}

.container1 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
  margin-bottom:60px;
 
}
.container1 {
  perspective: 800px;
}
.Card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.container1:hover .Card {
  transform: rotateY(180deg);
  
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  
  text-align: center;
  background-color: #aaa;
}

.userDetails
{   
  text-align: center;
  line-height:0;
    
}
.stats
{
  width: 418px;
  height :60px;
  background: url('/static/media/images.jpg') no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding:7px;
}

body
{
  background: url('/static/media/3022.jpg') no-repeat;
  background-size:100%;

}
.profileName
{ 
  margin-top:-5px;
  margin-bottom:-5px;
}

.username
{ 
  margin-top:-27px;
}

#followers
{
  border-left: thick double #ffffff;
  border-right: thick double #ffffff;
}

.stats > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 31%;
  text-align: center;
}



.img-circle
{
  margin-left: 150px;
  margin-top: 12px;
  width: 104px;
  height: 104px;
  border-width: 5px;
  border-color: #033d9b;
  border-style: solid; 

}


