  <script src = "static/scripts/jquery-3.1.1.min.js"></script>
<link href = "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<html>
 <head>
  <title> Instagram Card</title>
  <meta charset = "UTF-8">
  <meta name = "author" content="Kriti Sahu">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
<body>
 <div class = "container">
   <div class = "header">
     
       <h2 class="headline" style="color:white">Card for your Instagram profile</h2>
   <div class = "myinput">
        <form action="/"  method="POST">
    <input name='user' id = "get_user" type = "text" placeholder = "username" required></input>

    <button type="submit" id="click">Done
 		</button>
  </form>
  </div>


  <div class = "footer">
    <h3 style="color:white">Made with &#9825; by Kriti Sahu</h3>
  </div>
</div>
</div>


</body>
</html>

